{% extends "sedm_base.html" %}
{% block content %}
    <div class="container">
        <h2>{{sedm_dict.greeting}}</h2>
    </div>
        <h3><a href="/#completed">Completed</a>, <a href="/#expired">Expired</a>, <a href="/#failed">Failed</a></h3>
    <div class="container">
    </div>
    <div class="container">
        <div class="active-requests">
            <h4>{{sedm_dict.active.title}}</h4>
            {{ sedm_dict.active.table | safe }}
        </div>
        <div class="pending-requests">
            <h4>{{sedm_dict.pending.title}}</h4>
            <a href="{{sedm_dict.visibility.url}}">{{sedm_dict.visibility.title}}</a>
            {{ sedm_dict.pending.table | safe }}
        </div>
        <div class="completed-requests">
            <h4><a id="completed">{{sedm_dict.complete.title}}</a></h4>
            {{ sedm_dict.complete.table | safe }}
        </div>
        <div class="expired-requests">
            <h4><a id="expired">{{sedm_dict.expired.title}}</a></h4>
            {{ sedm_dict.expired.table | safe }}
        </div>
        <div class="failed-requests">
            <h4><a id="failed">{{sedm_dict.failed.title}}</a></h4>
            {{ sedm_dict.failed.table | safe }}
        </div>
    </div>
{% endblock %}
