{% extends "sedm_base.html" %}
{% from "macros.html" import calendar_picker %}

{% block head %}
    {{ calendar_picker('head') }}
    {{ super() }}
{% endblock head %}

{% block content %}
    {{ calendar_picker('content', name='obsdate') }}
    <h2>Data for the night of {{ sedm_dict.obsdate }}</h2>
    <div class="container">
        <div class="row">
            <a href="http://sites.astro.caltech.edu/sedm/Pipeline.html">Learn how to reprocess data</a>
        </div>
        {{ sedm_dict.sci_data| safe}}
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
    {{ calendar_picker('footer') }}
{% endblock footer %}
