/* The section below carries over from the old sedm-site and are subject
to further change
 */

html, body, .container-table {
    height: 90%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.mytable>tbody>tr>td, .mytable>tbody>tr>th, .mytable>tfoot>tr>td, .mytable>tfoot>tr>th, .mytable>thead>tr>td, .mytable>thead>tr>th {
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.firstline td {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}
.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}
body {
    padding-top: 70px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
table.dataframe, .dataframe th, .dataframe td {
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align:left;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 1.0em;
}

table.nowrap {
    white-space: nowrap
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.footer , .container {
    margin-top: 10px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;

}
